@{
    ViewBag.Title = "Books Available";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><a class="btn btn-default" href="~/EditBooks.aspx">Product Page and details&raquo;</a></p>

<div class="row" >
    <div class="col-md-4" >   
        <p>  <img src="~/Wilson.jpg" style="height:300px; width:200px;"/></p>
        <h3>Joe Turners Come and Gone</h3>
        <p></p>
    </div>
    <div class="col-md-4">
        <p> <img src="~/Shiningnovel.jpg" style="height:300px; width:200px;"/></p>
        <h3>The Shining </h3>
        <p></p>
    </div>
    <div class="col-md-4">   
        <p><img src="~/Gatsby.jpg" style="height:300px; width:200px;" /></p>
        <h3>The Great Gatsby</h3>
        <p></p>
    </div>

    <div class="col-md-4">
        <p>  <img src="~/germs.jpg" style="height:300px; width:200px;"/></p>
        <h3>Germs,Guns, and Steel</h3>
        <p></p>
    </div>
    <div class="col-md-4">      
        <p> <img src="~/Giver.jpg" style="height:300px; width:200px;" /></p>
        <h3>The Giver </h3>
        <p></p>
    </div>
    <div class="col-md-4">
        <p><img src="~/Moby.jpg" style="height:300px; width:200px;"/></p>
        <h3>Moby Dick</h3>
        <p></p>
    </div>
    <div class="col-md-4">
        <p>  <img src="~/night.jpg" style="height:300px; width:200px;" /></p>
        <h3>Night</h3>
        <p></p>
    </div>
    <div class="col-md-4">
        
        <p> <img src="~/Wild.jpg" style="height:300px; width:200px;"/></p>
        <h3>Where The Wild Things Are</h3>
        <p></p>
    </div>
    <div class="col-md-4">

        <p><img src="~/Outliers.jpg" style="height:300px; width:200px;"/></p>
        <h3>The Outliers</h3>
        <p></p>
    </div>
</div>