@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4224 University Ave<br />
    Columbus, GA 31907<br />
    <abbr title="Phone">P:</abbr>
    100.000.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@LittleBookStore.com</a><br />
    
</address>