@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
   
    <img style="width:870px;height:400px;" src="~/BannerBooks.jpg" />
    <h1>The Little Book Store</h1>
    
    <p class="lead">Welcome to the little online book store that packs all the punch of a major retailer.</p>
    <!----<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Book of the week</h2>
        <p>  <img src="~/Wilson.jpg" /></p>
         <h3>Joe Turners Come and Gone</h3>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Joe_Turner%27s_Come_and_Gone">Read  more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Book of the month</h2>
        <p> <img src="~/Shiningnovel.jpg" /></p>
        <h3>The Shining </h3>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/The_Shining_(novel)">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Book of the Year </h2>
        <p><img src="~/Gatsby.jpg" /></p>
        <h3>The great Gatsby</h3>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/The_Great_Gatsby">Read more &raquo;</a></p>
    </div>

   

</div>