@{
    ViewBag.Title = "Product";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="jumbotron">

    <p class="lead">Great prices and speedy shipping. </p>
    <p style="color:lightblue;"><a class="btn btn-default"  href="~/EditBooks.aspx">Product Page and details&raquo;</a></p>

    <img style="width:870px;height:400px;" src="~/product.jpg" />

</div>



